doctype html
html
h1 Reply to Thread
    form
        textarea(style= "display: block;",  cols="100" rows="20")
        .button
            form(action="/", method="get")
                button Reply to Thread
                button Attach File
        a(href="/") home